* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
body {
    background-image: linear-gradient(to left, #ff7c00, #f06);
    min-width: 100vw;

}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1, footer {
    color: #fff;
    margin-top: 61px;
}

.box-calculator {
    margin-top: 70px;
    position: relative;
    min-width: 350px;
    min-height: 400px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-right: solid 1px rgba(255, 255, 255, 0.2);
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;


}
p {
    background-color: transparent;
    width: 150px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-right: solid 1px rgba(255, 255, 255, 0.2);
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    color: #fff;
    font-weight: 900;    
}

.number1, .number2, .number3 {
    height: 40px;
    border-radius: 5px;
    background:rgba(255, 255, 255, 0.9) ;
    font-weight: 600;
    margin-top: 5px;
    border-color: rgba(0, 0, 0, 0.3);


}

.btn {
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 30px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    font-weight: 500;


    
}
.btn:hover {
    background: rgba(0, 0, 0, 0.4);
}
